.taskcard {
  border-radius: 7px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
  width: 100%;
}

.taskcard_content {
  align-items: center;
  display: flex;
  margin: 20px 15px;
  width: 100%;
}

.taskcard_title {
  margin: 10px 25px;
  width: 100%;
}

.taskcard_title p {
  margin: 0;
}

.taskcard_actions {
  display: flex;
  width: 75px;
  justify-content: space-around;
}

.taskcard_action {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.taskcard_complete {
  background-color: yellowgreen;
}

.taskcard_complete:hover {
  background-color: green;
}

.taskcard_delete {
  background-color: tomato;
}

.taskcard_delete:hover {
  background-color: red;
}
